.own-message {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-bottom: 15px;
    padding: 30px 10px 10px 40px;
    border: 1px solid black;
    border-radius: 15px;
}

.icon {
    cursor: pointer;
}

.icon path {
    fill: gray;
}

.edit-icon {
    position: absolute;
    right: 40px;
    top: 10px;
}

.delete-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}