.message {
    position: relative;
    width: 70%;
    margin-bottom: 15px;
    padding: 10px 10px 10px 40px;
    border: 1px solid black;
    border-radius: 15px;
}

.message-user-avatar {
    position: absolute;
    top: -5px;
    left: -15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.heart-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.message-like,
.message-liked {
    cursor: pointer;
}

.message-like path {
    fill: gray;
}

.message-liked path {
    fill: red;
}

.message-time {
    text-align: right;
}