.message-list {
    flex-shrink: 3;
    overflow-y: scroll;
}

.message-list::-webkit-scrollbar {
    width: 0;
}

.messages-divider {
    display: block;
    padding: 20px 0;
    text-align: center;
}

ul {
    list-style: none;
}